@import url("https://fonts.googleapis.com/css?family=Archivo Narrow");
* {
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow";
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffffe7;
}

#loginbody {
  background-image: url("../images/loginbackground.jpg");
  background-size: cover; /* or background-size: contain; */
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-image: url(../images/background.jpg);
  background-size: cover; /* or background-size: contain; */
  background-repeat: no-repeat;
  background-position: center center;
}

.grid-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

#profile-container {
  height: inherit;
  align-items: start;
  display: flex;
}

#nav {
  position: relative;
  background-color: #bab86ced;
  margin-right: 20px;
  transform: translateX(0px);
  height: 100%;
  width: 0px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6); /* Add box shadow to the right border */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: width 0.3s ease;
}

#closenavdiv {
  justify-content: end;
  display: flex;
}

#closenav {
  transition: 0.3s ease;
  position: relative;
  margin: 1px 6px;
  right: -30px;
  top: 10px;
  width: 15px; /* Adjust the width and height as needed */
  height: 15px;
  border: none;
  cursor: pointer;
  z-index: 1;
  overflow: visible;
}

#closenav #closenavimg {
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease-out;
}

#nav ul {
  position: static;
  list-style: none;
  overflow: hidden;
}

#nav ul .list {
  padding: 15px 20px;
  transition: 0.4s ease-in-out;
  border-radius: 15px;
  border: 3px solid #bab76c00;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

#nav ul .list:hover {
  padding: 15px 30px;
}

#nav #li-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 30px 0;
  padding: 30px 0;
  border: none;
  box-shadow: none;
}

#nav a {
  text-decoration: none;
  color: black;
  transition: ease-in-out;
}

#nav a::after {
  text-decoration: none;
}

#navimg {
  width: 50px;
  height: 50px;
  margin: 20px 30px;
  transition: ease-in-out 0.4s;
  overflow: hidden;
}

#navimg:hover {
  width: 60px;
  height: 60px;
  margin: 20px 30px;
}

#navimg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* below is the styles for profile page */
#current-picture {
  border-radius: 200px;
  width: 150px;
  height: 150px;
  margin: 30px;
}

#change-pict {
  border: none;
  background-color: beige;
  height: 30px;
  margin: 15px;
  width: 13%;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

#change-pict:hover {
  background-color: rgb(0, 0, 26);
  color: beige;
}

.details {
  position: relative;
  margin: 5px 0px;
  align-items: center;
  display: flex;
  justify-content: start;
  text-align: left;
  overflow: hidden;
}

.grid {
  font-size: 22px;
  margin-right: 20px;
  top: 15px;
  width: 80%;
  height: 90%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: auto;
  padding: 30px 10px;
  background-color: #bab86ced;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  grid-template-areas:
    "details1 details1"
    "username1 username2"
    "fullname1 fullname2"
    "email1 email2"
    "dob1 dob2"
    "address1 address2"
    "phonenumber1 phonenumber2"
    "dyanmic1 dyanmic1"
    "dyanmic2 dyanmic2"
    "dyanmic3 dyanmic3";
}
#details1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: details1;
  grid-column: 1/15;
}

#username-1 {
  grid-area: username1;
  grid-column: 6/8;
}
#username-2 {
  grid-area: username2;
  grid-column: 9/14;
}
#fullname-1 {
  grid-area: fullname1;
  grid-column: 6/8;
}
#fullname-2 {
  grid-area: fullname2;
  grid-column: 9/14;
}
#dyanmic1-1 {
  grid-area: dyanmic1;
  grid-column: 6/8;
}
#dyanmic1-2 {
  grid-area: dyanmic1;
  grid-column: 9/14;
}
#dyanmic2-1 {
  grid-area: dyanmic2;
  grid-column: 6/8;
}
#dyanmic2-2 {
  grid-area: dyanmic2;
  grid-column: 9/14;
}
#dyanmic3-1 {
  grid-area: dyanmic3;
  grid-column: 6/8;
}
#dyanmic3-2 {
  grid-area: dyanmic3;
  grid-column: 9/14;
}
#email-1 {
  grid-area: email1;
  grid-column: 6/8;
}
#email-2 {
  grid-area: email2;
  grid-column: 9/14;
}
#dob-1 {
  grid-area: dob1;
  grid-column: 6/8;
}
#dob-2 {
  grid-area: dob2;
  grid-column: 9/14;
}
#address-1 {
  grid-area: address1;
  grid-column: 6/8;
}
#address-2 {
  grid-area: address2;
  grid-column: 9/14;
}
#phonenumber-1 {
  grid-area: phonenumber1;
  grid-column: 6/8;
}
#phonenumber-2 {
  grid-area: phonenumber2;
  grid-column: 9/14;
}
/* below is styles for coursedetail.php */

.table.container {
  top: 15px;
  width: 80%;
  height: fit-content;
  position: relative;
  padding: 30px;
  background-color: #bab86ced;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
.table.container h1 {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: black 2px solid;
}
.table.container th,
td {
  text-align: center;
  margin-bottom: 5px;
}

.courseviewtable {
  width: -webkit-fill-available;
  background-color: #ffffff;
  position: relative;
  border: 1px solid rgb(36, 36, 32);
  border-radius: 5px;
}
.detail {
  margin: 30px 0;
}
.detail.description {
  text-align: justify;
}
.detail.instructor {
  width: -webkit-fill-available;
  padding: 20px;
  margin: 30px 0;
  background-color: #eeeedf;
  border-radius: 40px;
  display: inline-flex;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.instructor.alias {
  float: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.instructor.alias h3 {
  position: relative;
  bottom: 5px;
  text-align: center;
}

.detail.instructor img {
  width: 120px;
  height: 120px;
  margin: 30px;
}

.instructor.available {
  margin-left: 10px;
  width: -webkit-fill-available;
  height: 70%;
  position: relative;
  padding: 30px;
  background-color: #bab86ced;
  border-radius: 30px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.instructor.table {
  width: 100%;
  position: relative;
  border: 1px solid rgb(36, 36, 32);
  border-radius: 10px;
}
.instructor.available h1 {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: black 2px solid;
}
.instructor.available th,
td {
  text-align: center;
  margin-bottom: 5px;
}
.enroll {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#enroll {
  position: relative;
  bottom: 3px;
  border: none;
  margin: 0 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
#enroll:hover {
  background-color: rgb(128, 233, 128);
}
.instructor.tablewrapper {
  width: -webkit-fill-available;
}

.detail.reviews {
  height:20%;
  display: flex;
  justify-content: center;
}

.reviews.instructor,
.reviews.course {
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  width: -webkit-fill-available;
  height: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

/* below is style for login page */

.login {
  height: inherit;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bab86ca1;
}

.login-container {
  margin-top: 20px;
  height: 40%;
  width: 40%;
}
.login-container form {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 1em;
  height: 100%;
  width: 100%;
}
.login-container input {
  padding: 5px 5px;
  width: -webkit-fill-available;
  border-radius: 0.25em;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 15px;
}
.error {
  color: red;
  text-align: left;
}

.username,
.password {
  margin: 20px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
}
.username input,
.username label,
.password input,
.password label {
  margin: 0 5px;
}

.password input,
.username input {
  position: relative;
  top: -3px;
  border: 0.25px solid #bab86ced;
}

#login {
  border-radius: 1em;
  border: 0.2px solid #bab86ced;
  margin: 20px;
  width: 60%;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

#login:hover {
  background-color: #bab76c;
  color: white;
}

/* below is stylees for rating */
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  content: "\f005";
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.rating > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,  /* not checked selects elements with with no checked (only works with select/radio)*/
.rating:not(:checked) > label:hover ~ label {
  color: #2ce679;
  transition: 0.3s ease-in-out;
  transform: rotateX("-90deg");
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #2ddc76;
}

.course-review,.instructor-review {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height:100%;
  padding:0 20px;
}
.course-review h3,.instructor-review h3{
  margin:5px;
}
.review-content{
  margin:5px;
}
.rating-container{
  position: relative;
}
.review-submit{
  margin: 5px;
}
.review-content{
  width: -webkit-fill-available;
}
.review-content input{
  width: -webkit-fill-available;
  border-radius: 5  px;
}
.review-submit{
  display:flex;
  justify-content: center;
}
